<div class="flex flex-col m-auto">
  <h2 class="mb-10"><%= link_to 'Nouvelle commande', new_order_path, class:'text-purple-500 bg-white px-10 py-4 shadow-md rounded-full font-bold my-3 hover:shadow-xl active:scale-90 transition duration-150' %></h2>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                  <th scope="col" class="px-6 py-3">
                      Commande
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Nom du client
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Date de commande
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Montant total
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Reste à payer
                  </th>
                  <th scope="col" class="px-6 py-3">
                      <span class="hidden">Commande</span>
                  </th>
              </tr>
          </thead>
          <tbody>
              <% @orders.each do |order| %>
                <tr class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap hover:text-blue-500">
                    <%= link_to order.name, order_path(order) %>
                  </th>

                  <td class="px-6 py-4">
                    <%= order.client_name %>
                  </td>

                  <td class="px-6 py-4">
                    <%= order.order_date %>
                  </td>

                  <td class="px-6 py-4">
                    <%= order.total_amount %>€
                  </td>

                  <td class="px-6 py-4 <%= (order.remains_amount > 0) ? 'text-red-500' : 'text-green-500' %>">
                    <%= order.remains_amount %>€
                  </td>

                  <td class="px-6 py-4 text-right">
                      <%= link_to 'Voir la commande', order_path(order), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
                  </td>
                </tr>
              <% end %>
          </tbody>
      </table>
  </div>
</div>
