<div class='relative w-[100vw]'>
  <div class="flex justify-between mb-20">
    <%= link_to 'Retour', orders_path, class:'main-button' %>
    <%= link_to 'Ajouter une échéance', new_order_term_path(@order), class:'main-button' %>
  </div>

  <div class="order__show-info">
    <div class="px-4 py-5 sm:px-6 flex justify-between">
      <h3 class="text-lg leading-6 font-medium text-gray-900">Information sur la commande</h3>
      <h3 class="text-lg hover:opacity-60"><%= link_to '🖋', edit_order_path(@order) %></h3>
    </div>
    <div class="border-t border-gray-200">
      <dl>
        <div class="bg-gray-50 order__show-row">
          <dt class="order__show-first-col">Commande</dt>
          <dd class="order__show-second-col"><%= @order.name %></dd>
        </div>

        <div class="bg-white order__show-row">
          <dt class="order__show-first-col">Nom du client</dt>
          <dd class="order__show-second-col"><%= @order.client_name %></dd>
        </div>

        <div class="bg-gray-50 order__show-row">
          <dt class="order__show-first-col">Date de la commande</dt>
          <dd class="order__show-second-col"><%= @order.order_date %></dd>
        </div>

        <div class="bg-white order__show-row">
          <dt class="order__show-first-col">Montant total</dt>
          <dd class="order__show-second-col"><%= @order.total_amount %>€</dd>
        </div>

        <div class="bg-white order__show-row">
          <dt class="order__show-first-col">Reste à payer</dt>
          <dd class="mt-1 text-sm sm:mt-0 sm:col-span-2 <%= (@order.remains_amount > 0) ? 'text-red-500' : 'text-green-500' %>"><%= @order.remains_amount %>€</dd>
        </div>

        <div class="order__show-attachment">
          <dt class="text-sm font-medium text-gray-500">Les échéances</dt>
            <dd class="order__show-second-col">
              <% @terms.each do |term| %>
                <ul role="list" class="order__show-attachment-list">
                  <li class="order__show-attachment-li">

                    <div class="w-0 flex-1 flex items-center">
                      <!-- Heroicon name: solid/paper-clip -->
                      <svg class="order__show-attachment-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                      </svg>
                      <span class="ml-2 flex-1 w-0 truncate">Le <%= term.due_date %></span>
                      <span class="ml-2 flex-1 w-0 truncate"><%= term.amount%>€</span>
                    </div>

                    <div class="ml-4 flex-shrink-0">
                      <% unless term.file == '' %>
                        <%= link_to 'Ouvrir le document', term.file, target: '_blank', class: "font-medium text-indigo-600 hover:text-indigo-500" %>
                      <% else %>
                      <%= link_to 'Upload document', new_order_term_path(@order), class:'font-medium text-orange-600 hover:text-orange-500' %>
                      <% end %>
                    </div>
                  </li>
                </ul>
              <% end %>
            </dd>
          </dt>
        </div>
      </dl>
    </div>
  </div>
</div>
